
/* --------------------
    MOBILE FIRST
-------------------- */


/* -------------------- 
        CONTACTO 
-------------------- */
#mainContacto{
    @include sizes (90vw, 5vw);
    justify-self: center;
}

.mensajeContacto {
    h1 {
        font-size: 7vw;
        line-height: 54%;
        font-family: $fontMain;
        padding: 10vw 0vw 8vw 18vw;
        color: $color__fondo-oscuro;
    }
}

.formulario {
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(to right, $color__fondo-medio, $color__fondo-claro);  
    border-radius: 5%;
    padding: 2%;
    margin: 2vw;
    
    div {
        padding: 1%;
    }
}

.formulario {
    div {
        label {
            display: inline-block;
            color: $colorFuente;
            font-size: 4vw;
            font-weight: 500;
            padding-top: 2%;
            padding-bottom: 1%;
        }

        .ingreso {
            display: block;
            width: 80vw;
            font-size: 3vw;
            font-weight: 500;
            font-family: $fontMain;
            background-color: $colorFuente;
        }
    }
}

.botones {
    input {
        width: 25vw;
        font-size: 3vw;
        display: inline-block;
        font-family: $fontMain;
        margin-top: 3%;
        border-radius: 0.5em;

        
        &:first-child{
        background-color: $colorFuente;
        }
    }
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */ 
@media screen and (min-width: $tamOrdenador){
  
     #mainContacto{
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        
        h1 {
            padding: 0;

            font-size: 6vw;
            padding-top: 8vw ;  
        }
    }

    .formulario {
        width: 50vw;
        padding: 2vw;
        margin: 0.5vw 0vw 2vw 8vw;

        div {
            label {
                padding: 0;

                font-size: 1.5vw;
            }

            .ingreso {
                display: block;
                width: 33.3vw;
                font-size: 1.3vw;
                margin-bottom: 0.5vw;
            }
        }
    }

    .botones {
        input {
            width: 13vw;
            margin-left: 2.5vw;
            font-size: 1.5vw;
            
            &:hover {
                animation: $animacionPulso;
                animation-duration: $tiempoAnimacion;
            }
        }
    }
}