
/* --------------------
    MOBILE FIRST
-------------------- */


/* -------------------- 
        SOBRE MI 
-------------------- */
#mainSobreMi{
    padding: 7vw;
    @extend .disposicion;
    justify-content: center;
}

.video {

    video {
        width: 80vw;
        height: 55vw;
    }
}

#nombreLucas{
    z-index: 1;
    margin: 1vw 0vw 8vw 2vw;
    
    h1 {
        font-size: 15vw;
        line-height: 8vw;
    }
}

.sobreLucas {
    background-image: linear-gradient(to right, $color__fondo-medio, $color__fondo-claro);  
    border-radius: 2vw;
    margin-left: 0.5vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
        @include sizes (90vw, 2vw);
        width: 75vw;
        margin: 2vw;
        font-size: 4vw;

        text-align: justify;
        color: $colorFuente;
    }
}


/* -------------------- 
    APTO TABLETS 
-------------------- */
@media screen and (min-width: $tamTablets) {

    #mainSobreMi{
        padding: 3vw;
    }

    #nombreLucas {
        z-index: 1;
        margin: -2vw 0vw 8vw 5vw;

        h1 {
            font-size: 15vw;
            line-height: 8vw;
        }
    }

    .sobreLucas{
        width: 90vw;

        p {
            font-size: 5.5vw;
            width: 85vw;
            margin: 2vw;
        }
    }

}


/* -------------------- 
    APTO ORDENADORES 
-------------------- */ 
@media screen and (min-width: $tamOrdenador){

    #mainSobreMi{
        flex-direction: row;
        gap: 5vw;
    }

    .videoNombre{
         display: flex;
         flex-direction: column;
    }

    .video {
        video {
            width: 42vw;
            height: 34vw;
            margin-top: -5vw;
        }
    }

    #nombreLucas{
        z-index: 1;
        margin: -2vw 0vw 0vw 5vw;

        h1 {
            font-size: 8vw;
            line-height: 2.2vw;
        }
    }

    .sobreLucas {
        width: 45vw;
        margin: 0;

        p {
            width: 43.5vw;
            font-size: 2vw;
            text-align: end;
            padding: 1vw;
        }
    }
}