
* {
    padding: 0%;
    margin: 0%;
    box-sizing: 0%;

}

@import 'vars';
@import 'header-footer';
@import 'estilo-body';

@import 'index';
@import 'sobre-mi';
@import 'musica';
@import 'galeria';
@import 'contacto';
