@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: 0%;
          box-sizing: 0%;
}

.disposicion, .items, #mainSobreMi, #mainGaleria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav, footer, .dropdown-menu {
  font-family: "Poppins", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161a24), color-stop(#212635), to(#363e57));
  background-image: linear-gradient(to bottom, #161a24, #212635, #363e57);
}

.menuHeader li a, .menuFooter li a {
  padding: 0em 1em;
  font-weight: 900;
  color: #BFBFBF;
  text-decoration: none;
}

.menuHeader li a:hover, .menuFooter li a:hover {
  color: #798099;
}

.nav-link:focus {
  color: #798099;
}

/* --------------------
    MOBILE FIRST
-------------------- */
/* -------------------- 
        HEADER 
-------------------- */
.menuHeader li a {
  font-size: 5vw;
}

.hamburguesaIcono {
  color: #BFBFBF;
  font-size: 5vw;
}

button.navbar-toggler {
  margin-right: 2vw;
}

.logo {
  height: 13vw;
  width: 20vw;
}

.logo:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/* -------------------- 
        FOOTER
-------------------- */
.menuFooter {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.menuFooter li a {
  font-size: 3vw;
}

/* -------------------- 
    APTO TABLETS 
-------------------- */
@media screen and (min-width: 768px) {
  /* -------------------- 
        HEADER 
    -------------------- */
  .menuHeader li a {
    font-size: 5vw;
  }
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */
@media screen and (min-width: 1024px) {
  /* -------------------- 
            HEADER
    -------------------- */
  .menuHeader li {
    padding: 1vw;
    list-style-type: none;
  }
  .menuHeader li:hover {
    background-color: #161a24;
    -webkit-animation: pulse;
            animation: pulse;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .menuHeader li a {
    font-size: 1.5vw;
  }
  .menuHeader li a:hover {
    color: #BFBFBF;
  }
  .nav-link:focus, .nav-link:hover {
    color: #BFBFBF;
  }
  .alineacion {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .logo {
    height: 3.5vw;
    width: 6vw;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* -------------------- 
            FOOTER 
    -------------------- */
  footer {
    height: 2vw;
  }
  .menuFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menuFooter li a {
    font-size: 1vw;
  }
  .menuFooter li a:hover {
    color: #798099;
  }
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header_" "main_" "footer_";
  background-image: url("../imagenes/buji/WhatsApp Image 2022-03-13 at 16.32.36.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto Slab", serif;
}

header {
  grid-area: "header_";
}

main {
  grid-area: "main_";
  justify-items: center;
}

footer {
  grid-area: "footer_";
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */
@media screen and (min-width: 1024px) {
  #mainIndex, #mainSobreMi, #mainGaleria, #mainCanciones, #mainContacto {
    -webkit-animation: fadeIn;
            animation: fadeIn;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}

/* --------------------
    MOBILE FIRST
-------------------- */
/* -------------------- 
        INDEX 
-------------------- */
#mainIndex {
  display: -ms-grid;
  display: grid;
}

.titulosH {
  font-family: "Roboto Slab", serif;
  display: inline-block;
  color: #161a24;
}

.titulosH h1 {
  font-size: 19.5vw;
  line-height: 5vw;
  padding-left: 1vw;
  margin-top: 5vw;
}

.titulosH h2 {
  font-size: 8vw;
}

.items {
  margin: 8vw;
}

.items div p {
  font-size: 6vw;
  font-weight: 550;
  text-align: center;
}

#itemsRedes {
  width: 0vw;
}

.redesItems {
  width: 50vw;
  height: 15vw;
  border-radius: 35em;
  padding: 1vw;
  margin-left: 15vw;
}

.presentacion {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 10vw;
}

.presentacion iframe {
  height: 50vw;
  width: 90vw;
}

/* -------------------- 
    APTO TABLETS 
-------------------- */
@media screen and (min-width: 768px) {
  .items div p {
    font-size: 5vw;
  }
  .presentacion {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 5vw;
  }
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */
@media screen and (min-width: 1024px) {
  /* -------------------- 
            INDEX 
    -------------------- */
  #mainIndex {
    margin: 1vw 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .titulosH {
    font-family: "Roboto Slab", serif;
    display: inline-block;
  }
  .titulosH h1 {
    margin-top: 1vw;
    font-size: 10vw;
    line-height: 5vw;
  }
  .titulosH h2 {
    font-size: 5vw;
  }
  .items {
    margin: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .items div p {
    font-size: 2.3vw;
    font-weight: 550;
    text-align: center;
  }
  .redesItems {
    width: 24vw;
    height: 8vw;
    border-radius: 35em;
    margin-left: 10vw;
  }
  .redesItems:hover {
    -webkit-animation: pulse;
            animation: pulse;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .presentacion iframe {
    margin-top: 6vw;
    height: 28vw;
    width: 43vw;
  }
}

/* --------------------
    MOBILE FIRST
-------------------- */
/* -------------------- 
        SOBRE MI 
-------------------- */
#mainSobreMi {
  padding: 7vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video video {
  width: 85vw;
  height: 55vw;
}

#nombreLucas {
  z-index: 1;
  margin: 1vw 0vw 8vw 2vw;
}

#nombreLucas h1 {
  font-size: 15vw;
  line-height: 8vw;
}

.sobreLucas {
  background-image: -webkit-gradient(linear, left top, right top, from(#212635), to(#363e57));
  background-image: linear-gradient(to right, #212635, #363e57);
  border-radius: 2vw;
  margin-left: 0.5vw;
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sobreLucas p {
  width: 90vw;
  margin-bottom: 2vw;
  width: 75vw;
  margin: 2vw;
  font-size: 4vw;
  text-align: justify;
  color: #BFBFBF;
}

/* -------------------- 
    APTO TABLETS 
-------------------- */
@media screen and (min-width: 768px) {
  #mainSobreMi {
    padding: 3vw;
  }
  .video video {
    width: 90vw;
    height: 55vw;
  }
  #nombreLucas {
    z-index: 1;
    margin: -2vw 0vw 8vw 5vw;
  }
  #nombreLucas h1 {
    font-size: 15vw;
    line-height: 8vw;
  }
  .sobreLucas {
    width: 95vw;
  }
  .sobreLucas p {
    font-size: 5.5vw;
    width: 85vw;
    margin: 2vw;
  }
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */
@media screen and (min-width: 1024px) {
  #mainSobreMi {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5vw;
  }
  .videoNombre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video video {
    width: 42vw;
    height: 34vw;
    margin-top: -5vw;
  }
  #nombreLucas {
    z-index: 1;
    margin: -2vw 0vw 0vw 5vw;
  }
  #nombreLucas h1 {
    font-size: 8vw;
    line-height: 2.2vw;
  }
  .sobreLucas {
    width: 45vw;
    margin: 0;
  }
  .sobreLucas p {
    width: 43.5vw;
    font-size: 2vw;
    text-align: end;
    padding: 1vw;
  }
}

/* --------------------
    MOBILE FIRST
-------------------- */
/* -------------------- 
        MÚSICA 
-------------------- */
#mainCanciones {
  width: 80vw;
  margin: 10vw 0vw;
  -ms-grid-column-align: center;
      justify-self: center;
}

.musicaResponsiva, .cajaMusica {
  padding: 2vw 1vw;
  border-radius: 2vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#212635), to(#363e57));
  background-image: linear-gradient(to right, #212635, #363e57);
}

.cicatrices, .sencillos {
  color: #BFBFBF;
  font-size: 8vw;
  text-align: center;
}

.cajaMusica li {
  color: #BFBFBF;
  list-style-type: none;
  margin-top: 5%;
  font-size: 5vw;
  font-weight: 530;
  text-align: center;
}

.cajaMusica li p {
  margin-bottom: 0rem;
}

.cajaMusica li audio {
  width: 50vw;
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */
@media screen and (min-width: 1024px) {
  #mainCanciones {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: flex-content;
        -ms-flex-align: flex-content;
            align-items: flex-content;
    gap: 10vw;
    margin: 3vw;
  }
  .cicatrices, .sencillos {
    padding: 0vw 2vw;
    font-size: 3.5vw;
    text-align: center;
  }
  .cajaMusica li {
    font-size: 2vw;
    font-weight: 530;
    text-align: center;
  }
}

/* --------------------
    MOBILE FIRST
-------------------- */
/* -------------------- 
        GALERÍA 
-------------------- */
#mainGaleria {
  width: 90vw;
  margin: 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloGaleria {
  padding: 2vw 0vw 3vw 0vw;
}

.tituloGaleria h1 {
  font-size: 5vw;
}

.fotos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}

.fotos div {
  -ms-grid-column-align: center;
      justify-self: center;
}

.fotos div img {
  padding: 0.5vw 0.5vw 7vw 0.5vw;
  margin: 1vw;
  border: 1px solid #8c8989cb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #BFBFBF;
  width: 28vw;
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */
@media screen and (min-width: 1024px) {
  .fotos {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
  }
  .fotos div img {
    padding: 0.5vw 0.5vw 5vw 0.5vw;
    width: 20vw;
  }
  .buji:hover {
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* --------------------
    MOBILE FIRST
-------------------- */
/* -------------------- 
        CONTACTO 
-------------------- */
#mainContacto {
  width: 90vw;
  margin-bottom: 5vw;
  -ms-grid-column-align: center;
      justify-self: center;
}

.mensajeContacto h1 {
  font-size: 7vw;
  line-height: 54%;
  font-family: "Roboto Slab", serif;
  padding: 10vw 0vw 8vw 18vw;
  color: #161a24;
}

.formulario {
  font-family: 'Roboto Slab', serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#212635), to(#363e57));
  background-image: linear-gradient(to right, #212635, #363e57);
  border-radius: 5%;
  padding: 2%;
  margin: 0vw 2vw 20vw 2vw;
}

.formulario div {
  padding: 1%;
}

.formulario div label {
  display: inline-block;
  color: #BFBFBF;
  font-size: 4vw;
  font-weight: 500;
  padding-top: 2%;
  padding-bottom: 1%;
}

.formulario div .ingreso {
  display: block;
  width: 80vw;
  font-size: 3vw;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  background-color: #BFBFBF;
}

.botones input {
  width: 25vw;
  font-size: 3vw;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  margin-top: 3%;
  border-radius: 0.5em;
}

.botones input:nth-child(2) {
  background-color: #BFBFBF;
}

/* -------------------- 
    APTO ORDENADORES 
-------------------- */
@media screen and (min-width: 1024px) {
  #mainContacto {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #mainContacto h1 {
    padding: 0;
    font-size: 6vw;
    padding-top: 8vw;
  }
  .formulario {
    width: 50vw;
    padding: 1.9vw;
    margin: 0.5vw 0vw 2vw 8vw;
  }
  .formulario div label {
    padding: 0;
    font-size: 1.5vw;
  }
  .formulario div .ingreso {
    display: block;
    width: 33.3vw;
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
  }
  .botones input {
    width: 13vw;
    margin-left: 2.5vw;
    font-size: 1.5vw;
  }
  .botones input:hover {
    -webkit-animation: pulse;
            animation: pulse;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}
/*# sourceMappingURL=main.css.map */