
* {
    padding: 0%;
    margin: 0%;
    box-sizing: 0%;

}




/* le di tanto al header como al footer el mismo estilo */

nav, footer {
    font-family: 'Poppins', sans-serif;
    background-color: #282E40;  

}




/* header */ 

nav {
    height: 4.5em;
}

.headerLogo, .headerLista{
    display: inline-block;
}

.logo {
    height: 60px;
    width: 110px;
    padding: 0.4%;
    margin-right: 32em;
}

.menu li {
    display: inline-block;

} 

.menu li a {
    font-size: 1.5em;
    font-weight: 900;
    color:#BFBFBF;
    text-decoration: none;
    margin: 1em;

}




/* fondo */

.contenido {
    color: #1e2230;
    display: flex;
    padding: 1.2% 2% 2%;
    background-image: url('../imagenes/buji/WhatsApp Image 2022-03-13 at 16.32.36.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}




/* index.html */

.presentacion {
    display: inline-block;
    padding-top: 4%;
    padding-left: 4%;

}

.items {
    display: inline-block;
    padding: 3%;

}

.presentacionH {
    font-family: 'Roboto Slab', serif;
    display: inline-block;

}

.presentacionH h1 {
    font-size: 7em;
    line-height: 54%;
    
}

.presentacionH h2 {
    font-size: 3em;

}

.presentacion div p {
    font-size: 1.7em;
    font-weight: 550;
    text-align: center;
}

.presentacion iframe {
    padding-top: 4%;

}

.redesItems{
    padding: 1%;
    margin-left: 15%;
    width: 50%;
    height: 20%;
    border-radius: 30em;
    display: block;

}




/* sobre-mi.html */

.video {
    padding: 4% 2% 5%;
}

.sobreLucas p {
    width: 80%;
    margin-top: 5%;
    margin-left: 19%;
    border-radius: 2%;
    font-size: 1.5em;
    text-align: end;
}

.videoNombre{
    margin-bottom: 1.2%;
}




/* canciones.html */

.cajaMusica{
    margin: 3% 8%;
    padding: 2% 5% 4% 5%;
    border: 2px solid #1e2230;
    border-radius: 2%;
    background-color: #1e2230;
}

.cajaMusica li {
    color: #BFBFBF;
    list-style-type: none;
    margin-top: 10%;
    font-size: 1.5em;
    font-weight: 550;
}

.cajaMusica li p {
    text-align: initial;
    padding-left: 10%;
}

.cicatrices, .sencillos{
    color: #BFBFBF;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    text-align: center;
    padding-top: 5%;
}




/* galeria.html */
.fotos{
    display: inline-block;
    margin-left: 8%;

}   


.fotos div img {
    height: 20em;
    width: 20em;
    padding: 0.5% 0.5% 4% 0.5%;
    margin: 1%;
    border: 1px solid #1e2230;
    background-color:#BFBFBF;
}


/* contacto.html */

.mensajeContacto h1 {
    font-size: 5em;
    line-height: 54%;
    font-family: 'Roboto Slab', serif;
    margin: 23% 10%;
}

.formulario {
    font-family: 'Roboto Slab', serif;
    background-color: #1e2230;
    border: 2px solid #1e2230;
    border-radius: 5%;
    margin: 1% 1% 0% 15%;
    padding: 2%;
}

.formulario div {
    padding: 1%;
}

.formulario div label {
    display: inline-block;
    color: #BFBFBF;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 2%;
    padding-bottom: 1%;
}

.formulario div .ingreso {
    display: block;
    width: 100%;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.botones input {
    width: 8em;
    font-size: 1em;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    margin-top: 3%;
}




/* pie de página */

footer {
    font-size: 50%;
    padding-inline-start: 30%;

}