
* {
    padding: 0%;
    margin: 0%;
    box-sizing: 0%;

}


/* DEFINO GRID EN TODO EL BODY */
body {
    display: grid;
    grid-template-areas:
        "header_"
        "main_"
        "footer_";

    /* DEFINO FONDO  */
    background-image: url('../imagenes/buji/WhatsApp Image 2022-03-13 at 16.32.36.jpeg');
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;

    font-family: 'Roboto Slab', serif;
            
}


/* LINKEO GRID A SUS RESPECTIVAS PARTES  */
header {
    grid-area: "header_";
}

main {
    grid-area: "main_";
    justify-items: center;
/*     max-width: 767px; */
}

footer{
    grid-area: "footer_";
}


/* LE DOY EL MISMO ESTILO AL NAV Y AL FOOTER */
nav, footer, .dropdown-menu {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom, #161a24, #212635, #363e57);  
}

.menuHeader li a, .menuFooter li a {
    padding: 0em 1em;
    font-weight: 900;
    color:#BFBFBF;
    text-decoration: none;
}

.menuHeader li a:hover {
    color: #798099;
}



/* --------------------
    MOBILE FIRST
-------------------- */


/* -------------------- 
        HEADER 
-------------------- */
.menuHeader li a { /* TAMAÑO LETRA NAV */
    font-size: 5vw;
}

.hamburguesaIcono {
    color: #BFBFBF;
    font-size: 5vw;
}

button.navbar-toggler {
    margin-right: 5vw;
}

.logo { /* TRABAJO CON EL LOGO */
    height: 13vw;
    width: 20vw;
}

.logo:hover{
    animation: pulse;
    animation-duration: 1s;
}


/* -------------------- 
        INDEX 
-------------------- */
#mainIndex {
    display: grid;
}

.items {
    margin: 8vw;
    display: flex;
    flex-direction: column;
}

.titulosH {
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    color: #161a24;
}

.titulosH h1 { /* TITULO "LLORO" */
    font-size: 19.5vw;
    line-height: 5vw;
    padding-left: 1vw;
    margin-top: 5vw;
}

.titulosH h2 { /* SUBTITULO "BUJI" */
    font-size: 8vw;
}

.items div p { /* PARRAFO "ULTIMO TEMA DISPONIBLE" */
    font-size: 6vw;
    font-weight: 550;
    text-align: center;
}

#itemsRedes {
    width: 0vw; /* esto le quita el sobrante a etiqueta <a> */
}

.redesItems{
    width: 50vw;
    height: 15vw;
    border-radius: 35em;
    padding: 1vw;
    margin-left: 15vw;
}

.presentacion {
    justify-self: center;
    margin-bottom: 10vw;
}

.presentacion iframe { /* VIDEO IFRAME */
    height: 50vw;
    width: 90vw;
}


/* -------------------- 
        SOBRE MI 
-------------------- */
#mainSobreMi{
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.video video {
    width: 90vw;
}

#nombreLucas{
    z-index: 1;
    margin: -20vw 0vw 8vw 2vw;
}

#nombreLucas h1 {
    font-size: 15vw;
    line-height: 8vw;
}

.sobreLucas p {
    font-size: 5vw;
    text-align: justify;

    width: 90vw;
    margin-bottom: 2vw;
}


/* -------------------- 
        MÚSICA 
-------------------- */
#mainCanciones {
    width: 90vw;
    margin: 10vw;
    justify-self: center;
}

.musicaResponsiva, .cajaMusica {
    padding: 2vw;
/*  border: 2px solid; */
    border-radius: 2vw;
    background-image: linear-gradient(to right, #212635, #363e57);  
}

.cicatrices, .sencillos{
    color: #BFBFBF;
    font-size: 8vw;
    text-align: center;
}

.cajaMusica li {
    color: #BFBFBF;
    list-style-type: none;
    margin-top: 5%;
    font-size: 5vw;
    font-weight: 530;
    text-align: center;
}

.cajaMusica li p {
    margin-bottom: 0rem;
}

.cajaMusica li audio {
    width: 50vw;
}


/* -------------------- 
        GALERÍA 
-------------------- */
#mainGaleria{
    width: 90vw;
    margin: 4vw;
}

.fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}  

.fotos div {
    justify-self: center;
}

.fotos div img {
    padding: 0.5vw 0.5vw 7vw 0.5vw;
    margin: 1vw;
    border: 1px solid #8c8989cb;
    box-sizing: border-box;
    background-color:#BFBFBF;
    width: 28vw; /* TAMAÑO DE LAS FOTOS */
}

.fotos div img:focus {
   z-index: 1;
   width: 80vw; 
}


/* -------------------- 
        CONTACTO 
-------------------- */
#mainContacto{
    width: 90vw;
    justify-self: center;
    margin-bottom: 5vw;
}

.mensajeContacto h1 {
    font-size: 7vw;
    line-height: 54%;
    font-family: 'Roboto Slab', serif;
    padding: 10vw 0vw 8vw 18vw;
    color: #161a24;
}

.formulario {
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(to right, #212635, #363e57);  
/*  border: 2px solid; */
    border-radius: 5%;
    padding: 2%;
    margin: 2vw
}

.formulario div {
    padding: 1%;
}

.formulario div label {
    display: inline-block;
    color: #BFBFBF;
    font-size: 4vw;
    font-weight: 500;
    padding-top: 2%;
    padding-bottom: 1%;
}

.formulario div .ingreso {
    display: block;
    width: 80vw;
    font-size: 3vw;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    background-color: #BFBFBF;
}

.botones input {
    width: 25vw;
    font-size: 3vw;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    margin-top: 3%;
    border-radius: 0.5em;
}


/* -------------------- 
        FOOTER
-------------------- */
.menuFooter {
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.menuFooter li a { /* TAMAÑO LETRA FOOTER*/
    font-size: vw;
}



/* -------------------- 
    APTO TABLETS 
-------------------- */
@media screen and (min-width: 768px) {
    
    /* -------------------- 
        HEADER 
    -------------------- */
    .menuHeader li a { /* TAMAÑO LETRA NAV */
        font-size: 5vw;
    }

    button.navbar-toggler {
        margin-right: 10vw;
    }

    /* -------------------- 
            INDEX 
    -------------------- */ 
    .items div p { /* PARRAFO "ULTIMO TEMA DISPONIBLE" */
        font-size: 5vw;
    }

    .presentacion {
        justify-self: center;
        margin-bottom: 5vw;
    }


    /* -------------------- 
           SOBRE MI 
    -------------------- */ 
    #mainSobreMi{
        padding: 3vw;
    }

    #nombreLucas{
        z-index: 1;
        margin: -15.5vw 0vw 8vw 5vw;
    }

    #nombreLucas h1 {
        font-size: 15vw;
        line-height: 8vw;
    }

    .sobreLucas p {
        font-size: 5.5vw;
        width: 89vw;
        margin-bottom: 2vw;
    }

}



/* -------------------- 
    APTO ORDENADORES 
-------------------- */ 
@media screen and (min-width:1024px){

    #mainIndex, #mainSobreMi, #mainGaleria, #mainCanciones, #mainContacto {   
        animation: fadeIn;
        animation-duration: 2s;
    }


    /* -------------------- 
            HEADER
    -------------------- */ 
    .menuHeader li {
        padding: 1vw;
        list-style-type: none;
    }

    .menuHeader li:hover {
        background-color:#161a24; 

        animation: pulse;
        animation-duration: 1s;
    }

    .menuHeader li a { /* TAMAÑO LETRA NAV */
        font-size: 1.5vw;
    }

    .menuHeader li a:hover {
        color: #BFBFBF;
    }

    .nav-link:focus, .nav-link:hover {
        color:#BFBFBF;
    }

    .alineacion{
        justify-content: end;
    }

    .logo { /* TRABAJO CON EL LOGO */
        height: 3.5vw;
        width: 6vw;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    /* -------------------- 
            INDEX 
    -------------------- */ 
    #mainIndex {
        margin: 1vw 3vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .items {
        margin: 1vw;
        display: flex;
        flex-direction: column;
    }

    .titulosH {
        font-family: 'Roboto Slab', serif;
        display: inline-block;
    }

    .titulosH h1 { /* TITULO "LLORO" */
        margin-top: 1vw;
        font-size: 10vw;
        line-height: 5vw;
    }

    .titulosH h2 { /* SUBTITULO "BUJI" */
        font-size: 5vw;
    }

    .items div p { /* PARRAFO "ULTIMO TEMA DISPONIBLE" */
        font-size: 2.3vw;
        font-weight: 550;
        text-align: center;
    }

    .redesItems{
        width: 24vw;
        height: 8vw;
        border-radius: 35em;
        margin-left: 10vw;
    }

    .redesItems:hover{
        animation: pulse;
        animation-duration: 1s;
    }

    .presentacion iframe { /* VIDEO IFRAME */
        margin-top: 6vw;
        height: 28vw;
        width: 43vw;
    }


    /* -------------------- 
            SOBRE MI
    -------------------- */ 
    #mainSobreMi{
        flex-direction: row;
        gap: 5vw;
    }

    .videoNombre{
         display: flex;
         flex-direction: column;
    }

    .video video {
        width: 40vw;
        margin-top: -5vw;
    }

    #nombreLucas{
        z-index: 1;
        margin: -3.5vw 0vw 0vw 3vw;
    }

    #nombreLucas h1 {
        font-size: 8vw;
        line-height: 2.2vw;
    }

    .sobreLucas p {
        width: 45vw;
        font-size: 2.5vw;
        text-align: end;
    }


    /* -------------------- 
            MÚSICA
    -------------------- */ 
    #mainCanciones {
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-content;
        gap: 10vw;
        margin: 3vw;
    }
    
    .cicatrices, .sencillos{
        padding: 0vw 2vw;
        font-size: 3.5vw;
        text-align: center;
    }

    .cajaMusica li {
        font-size: 2vw;
        font-weight: 530;
        text-align: center;
    }


    /* -------------------- 
            GALERÍA
    -------------------- */ 
    .fotos{
        grid-template-columns: repeat(4, 1fr);
        gap: 1vw;
    }  

    .fotos div img {
        padding: 0.5vw 0.5vw 5vw 0.5vw;
        width: 20vw; /* TAMAÑO DE LAS FOTOS */
    }

    .buji:hover {
        animation: pulse;
        animation-duration: 2s;
    }


    /* -------------------- 
            CONTACTO 
    -------------------- */ 
    #mainContacto{
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .mensajeContacto h1 {
        padding: 0;

        font-size: 6vw;
        padding-top: 8vw ;        
    }

    .formulario {
        padding: 2vw;
        margin: 1vw 0vw 2vw 8vw;
    }

    .formulario div label {
        padding: 0;

        font-size: 1.8vw;
    }

    .formulario div .ingreso {
        display: block;
        width: 35vw;
        font-size: 1.5vw;
        margin-bottom: 0.5vw;
    }

    .botones input {
        width: 13vw;
        margin-left: 3vw;
        font-size: 1.5vw;
    }

    .botones input:hover {
        animation: pulse;
        animation-duration: 2s;
    }


    /* -------------------- 
            FOOTER 
    -------------------- */ 
    footer{
        height: 2vw;
    }

    .menuFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menuFooter li a { /* TAMAÑO LETRA FOOTER*/
        font-size: 1vw;
    }

}